{
	"swagger": "2.0",
	"info": {
		"description": "This application is an API for credit card system.",
		"version": "0.0.1",
		"title": "CREDIT CARD SYSTEM"
	},
	"host": "credit.com",
	"basePath": "/",
	"tags": [],
	"schemes": ["http", "https"],
	"definitions": {
		"PostCardRequestBodyExample": {
			"type": "object",
			"description": "Response from login endpoint that supposed to return the jsonwebtoken for globalUserId and sessionToken which they got returned from the backend login service",
			"properties": {
				"cardName": {
					"type": "string",
					"description": "Card Name string",
					"example": "John Smith"
				},
				"cardNumber": {
					"type": "string",
					"description": "Card Number",
					"example": "4242 4242 4242 4242 42"
				},
				"limit": {
					"type": "number",
					"description": "Card Limit",
					"example": 100
				}
			}
		},
		"ApiResponseSuccess":{
			"type": "object",
			"properties": {
				"type": {
					"type": "string",
					"description": "Type of error reponse",
					"example": "error"
				},
				"status": {
					"type": "string",
					"description": "The status code which this error belongs",
					"example": "404"
					
				},
				"message": {
					"type": "string",
					"description": "Specific message of the error",
					"example": "Endpoint Not Found"
				}
			}
		},		
		"ApiResponseNotFound":{
			"type": "object",
			"properties": {
				"type": {
					"type": "string",
					"description": "Type of error reponse",
					"example": "error"
				},
				"status": {
					"type": "string",
					"description": "The status code which this error belongs",
					"example": "404"
					
				},
				"message": {
					"type": "string",
					"description": "Specific message of the error",
					"example": "Endpoint Not Found"
				}
			}
		},
		"ApiResponseServerError":{
			"type": "object",
			"properties": {
				"type": {
					"type": "string",
					"description": "Type of error reponse",
					"example": "error"
				},
				"status": {
					"type": "string",
					"description": "The status code which this error belongs",
					"example": "500"
					
				},
				"message": {
					"type": "string",
					"description": "Specific message of the error",
					"example": "Error serving request"
				}
			}
		}
	},
	"securityDefinitions": {
		"jwtAuth": {
			"type": "apiKey",
			"name": "Authorization",
			"in": "header"
		}
	},
	"externalDocs": {
		"description": "Find out more about how to use the CHATIFY API",
		"url": "http://swagger.io/"
	}
}